{% extends "core/base.html" %}

{% block section_title %}Pacientes Recientes{% endblock %}

{% block section_actions %}
    <a class="btn btn-primary btn-sm" role="button"
            ng-show="Session.hasRole(Session.ROLE_SYSTEM_ADMINISTRATOR) || Session.hasRole(Session.ROLE_SECRETARY)"
            ui-sref="patient-new">Nuevo Paciente</a>
{% endblock %}

{% block section_body %}
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nº DE FICHA</th>
                    <th>NOMBRE</th>
                    <th>EMBARAZO</th>
                    <th>CONTACTO</th>
                    <th>ACCEDIDO</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in patients" ng-click="$state.go('patient-view.summary', {id: patient.id})">
                    <td><img class="img-rounded" src="/resources/img/avatar.jpg" alt=""/></td>
                    <td>{{ patient.record }}</td>
                    <td>{{ patient.firstname }} {{ patient.surname }}</td>
                    <td> <br/> </td>
                    <td>{{ patient.cellphone }}<br/>{{ patient.email }}</td>
                    <td>{{ patient.modifiedon | date: "H" }} hs<br/>{{ patient.modifiedon | date: "dd/MM/yy" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
