{% extends "core/base-bottom.html" %}

{% block section_actions %}
    <a class="btn btn-primary btn-sm" ng-click="!processing && save()" role="button">Guardar</a>
{% endblock %}

{% block section_body %}
    <h4><span class="heading">Detalle del encuentro</span></h4>
    <div class="row">
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.type}">
            <label class="control-label" for="type">TIPO *</label>
            <select id="type" class="form-control" ng-model="interview.type">
                {% for key in Observation.TYPES %}
                    <option value="{= key =}">{= Observation.TYPES[key] =}</option>
                {% endfor %}
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.type" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.date}">
            <label class="control-label" for="date">FECHA *</label>
            <div class="input-group">
                <input id="date" class="form-control" type="text" ng-model="interview.date"
                        uib-datepicker-popup="dd/MM/yyyy" datepicker-options="datePicker.options"
                        is-open="datePicker.visibility.interview" current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="datePicker.visibility.interview = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
              </span>
            </div>
            <uib-alert class="well-sm" ng-repeat="message in errors.date" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.duration}">
            <label class="control-label" for="duration">DURACIÓN *</label>
            <select id="duration" class="form-control" ng-model="interview.duration">
                {% for key in Observation.DURATIONS %}
                    <option value="{= key =}">{= Observation.DURATIONS[key] =}</option>
                {% endfor %}
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.duration" type="danger">{{ message }}</uib-alert>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.advisor}">
            <label class="control-label" for="advisor">ORIENTADORA *</label>
            <div class="input-group" ng-show="!isAdvisorEditable">
                <input id="advisor" class="form-control" type="text" disabled ng-model="interview.advisor.name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="isAdvisorEditable = true">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </span>
            </div>
            <select id="advisor" class="form-control" ng-model="interview.advisor" ng-show="isAdvisorEditable"
                    ng-options="advisor as advisor.name for advisor in advisors track by advisor.id">
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.advisor" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.coadvisor}" ng-show="interview.type == 'VISIT'">
            <label class="control-label" for="coadvisor">CO-ORIENTADORA</label>
            <div class="input-group" ng-show="!isCoadvisorEditable">
                <input id="coadvisor" class="form-control" type="text" disabled ng-model="interview.coadvisor.name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="isCoadvisorEditable = true">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </span>
            </div>
            <select id="coadvisor" class="form-control" ng-model="interview.coadvisor" ng-show="isCoadvisorEditable"
                    ng-options="coadvisor as coadvisor.name for coadvisor in (advisors | filter:{id:'!' + interview.advisor.id}) track by coadvisor.id">
                <option></option>
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.coadvisor" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.channel}" ng-show="interview.type == 'VISIT'">
            <label class="control-label" for="channel">SE ENTERÓ DEL CENTRO POR</label>
            <select id="channel" class="form-control" ng-model="interview.channel">
                <option></option>
                {% for key in Observation.CHANNELS %}
                    <option value="{= key =}">{= Observation.CHANNELS[key] =}</option>
                {% endfor %}
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.channel" type="danger">{{ message }}</uib-alert>
        </div>
    </div>
    <div class="row" ng-show="interview.type == 'VISIT'">
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.companion_relation}">
            <label class="control-label" for="companion_relation">ACOMPAÑANTE</label>
            <input id="companion_relation" class="form-control" type="text" ng-model="interview.companion_relation" placeholder="Relación / parentezco"/>
            <uib-alert class="well-sm" ng-repeat="message in errors.companion_relation" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.companion_name}">
            <label class="control-label" for="companion_name">&nbsp;</label>
            <input id="companion_name" class="form-control" type="text" ng-model="interview.companion_name" placeholder="Nombre y apellido"/>
            <uib-alert class="well-sm" ng-repeat="message in errors.companion_name" type="danger">{{ message }}</uib-alert>
        </div>
    </div>
    <h4><span class="heading">{{ interview.type != "TELEPHONE"? "Motivo de consulta": "Seguimiento" }} *</span></h4>
    <div class="form-group" ng-class="{'has-error': errors.motive}">
        <textarea id="motive" class="form-control" rows="3" ng-model="interview.motive"></textarea>
        <uib-alert class="well-sm" ng-repeat="message in errors.motive" type="danger">{{ message }}</uib-alert>
    </div>
    <h4><span class="heading">Evaluación *</span></h4>
    <div class="form-group" ng-class="{'has-error': errors.evaluation}">
        <textarea id="evaluation" class="form-control" rows="3" ng-model="interview.evaluation"></textarea>
        <uib-alert class="well-sm" ng-repeat="message in errors.evaluation" type="danger">{{ message }}</uib-alert>
    </div>
    <h4><span class="heading">Embarazos</span></h4>
    <h4><span class="heading sub">Actual</span></h4>
    <h4><span class="heading sub">Historial</span></h4>
    <h4><span class="heading">Estilo de vida</span></h4>
    <h4><span class="heading">Riesgos para el embarazo</span></h4>
{% endblock %}
