<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <title>CAM</title>
    </head>
    <body>
        <div class="container-fluid">
            <div>{% block section %}{% endblock %}</div>
            <div class="text-right">{% block actions %}{% endblock %}</div>
            {% block body %}{%endblock%}
        </div>
    </body>
</html>