{% extends "base.html" %}

{% block section %}
    Pacientes Recientes
{% endblock %}

{% block actions %}
    <a class="btn btn-primary btn-sm" href="/paciente/nuevo" role="button">Nuevo Paciente</a>
{% endblock %}

{% block body %}
    <div class="container table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>FECHA NACIMIENTO</th>
                    <th>CONTACTO</th>
                    <th>ACCEDIDO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="img-rounded" src="/img/avatar.jpg" alt=""/></td>
                    <td>Karen</td>
                    <td>Rodríguez</td>
                    <td>14 Mar 1977<br/>38 años</td>
                    <td>011 15 5567 3456<br/>karen.suarez@gmail.com</td>
                    <td>14hs<br/>13/04/15</td>
                </tr>
                <tr>
                    <td><img class="img-rounded" src="/img/avatar.jpg" alt=""/></td>
                    <td>Patricia</td>
                    <td>Oliviera</td>
                    <td>14 Jul 1983<br/>29 años</td>
                    <td>0322 15 5567 345<br/>patri.oliviera@yahoo.com.ar </td>
                    <td>13hs<br/>13/04/15</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
