<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link type="text/css" rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/css/loading-bar.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/css/main.min.css"/>
        <base href="/sede/{= request.branch.key.id() =}/"/>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="/resources/js/angular-locale_es-ar.js"></script>
        <script type="text/javascript" src="/resources/js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/resources/js/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="/resources/js/loading-bar.min.js"></script>
        <script type="text/javascript" src="/resources/js/cam.js"></script>
        <title>CAM</title>
    </head>
    <body ng-app="cam" ng-controller="AppController">
        <div class="section-menubar">
            <span class="system">{{ Session.name }} | CAM {= request.branch.name =} | <a href="/salir">Salir</a></span>
            <a ui-sref="patients-last">Pacientes Recientes</a>
            <span ng-repeat="patientLink in patientLinks">
                <span class="patient-link" ng-class="{'active': isPatientLinkActive(patientLink.id)}">
                    <a ng-click="!isPatientLinkActive(patientLink.id) && $state.go('patient-view.summary', {id: patientLink.id})">{{ patientLink.name }}</a>
                    <a class="link-close" ng-click="removePatientLink($index)" title="Cerrar">X</a>
                </span>
            </span>
        </div>
        <div ui-view></div>
    </body>
</html>