{% extends "core/base.html" %}

{% block section_title %}{{$stateParams.id? "Modificación de Paciente": "Nuevo Paciente"}}{% endblock %}

{% block section_actions %}
    <a class="btn btn-default btn-sm" ng-click="!processing && cancel()" role="button">Cancelar</a>
    <a class="btn btn-primary btn-sm" ng-click="!processing && save()" role="button">Guardar</a>
{% endblock %}

{% block section_body %}
    <form>
        <fieldset ng-disabled="processing">
            <div class="col-sm-8">
                <h4><span class="heading">Información del paciente</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.firstname}">
                        <label class="control-label" for="firstname">NOMBRE *</label>
                        <input id="firstname" class="form-control" type="text" ng-model="patient.firstname" placeholder="Primer nombre"/>
                        <alert class="well-sm" ng-repeat="message in errors.firstname" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.middlename}">
                        <label class="control-label" for="middlename">&nbsp;</label>
                        <input id="middlename" class="form-control" type="text" ng-model="patient.middlename" placeholder="Segundo nombre (Opcional)"/>
                        <alert class="well-sm" ng-repeat="message in errors.middlename" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.surname}">
                        <label class="control-label" for="surname">&nbsp;</label>
                        <input id="surname" class="form-control" type="text" ng-model="patient.surname" placeholder="Apellido"/>
                        <alert class="well-sm" ng-repeat="message in errors.surname" type="danger">{{message}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.birthdate}">
                        <label class="control-label" for="birthdate">FECHA DE NACIMIENTO *</label>
                        <div class="input-group">
                            <input id="birthdate" class="form-control" type="text" ng-model="patient.birthdate"
                                    is-open="birthdatePicker.isVisible" min-date="birthdatePicker.minDate" max-date="birthdatePicker.maxDate"
                                    datepicker-options="birthdatePicker.options" datepicker-popup="dd/MM/yyyy"
                                    show-weeks="false" current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="birthdatePicker.isVisible = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                          </span>
                        </div>
                        <alert class="well-sm" ng-repeat="message in errors.birthdate" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.nationality}">
                        <label class="control-label" for="nationality">NACIONALIDAD *</label>
                        <select id="nationality" class="form-control" ng-model="patient.nationality">
                            {% for nationality in nationalities %}
                                <option>{= nationality =}</option>
                            {% endfor %}
                        </select>
                        <alert class="well-sm" ng-repeat="message in errors.nationality" type="danger">{{message}}</alert>
                    </div>
                </div>
                <h4><span class="heading">Información de contacto</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.cellphone}">
                        <label class="control-label" for="cellphone">CELULAR</label>
                        <input id="cellphone" class="form-control" type="text" ng-model="patient.cellphone"/>
                        <alert class="well-sm" ng-repeat="message in errors.cellphone" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.email}">
                        <label class="control-label" for="email">EMAIL</label>
                        <input id="email" class="form-control" type="text" ng-model="patient.email"/>
                        <alert class="well-sm" ng-repeat="message in errors.email" type="danger">{{message}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.province}">
                        <label class="control-label" for="province">DIRECCION *</label>
                        <select id="province" class="form-control" ng-model="patient.province">
                            {% for province in provinces %}
                                <option>{= province =}</option>
                            {% endfor %}
                        </select>
                        <alert class="well-sm" ng-repeat="message in errors.province" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.city}">
                        <label class="control-label" for="city">&nbsp;</label>
                        <input id="city" class="form-control" type="text" ng-model="patient.city" placeholder="Ciudad"/>
                        <alert class="well-sm" ng-repeat="message in errors.city" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.district}">
                        <label class="control-label" for="district">&nbsp;</label>
                        <input id="district" class="form-control" type="text" ng-model="patient.district" placeholder="Barrio (Opcional)"/>
                        <alert class="well-sm" ng-repeat="message in errors.district" type="danger">{{message}}</alert>
                    </div>
                </div>
                <h4><span class="heading">Familiar más cercano</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_firstname}">
                        <label class="control-label" for="relative_firstname">NOMBRE</label>
                        <input id="relative_firstname" class="form-control" type="text" ng-model="patient.relative_firstname" placeholder="Primer nombre"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_firstname" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_middlename}">
                        <label class="control-label" for="relative_middlename">&nbsp;</label>
                        <input id="relative_middlename" class="form-control" type="text" ng-model="patient.relative_middlename" placeholder="Segundo nombre (Opcional)"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_middlename" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_surname}">
                        <label class="control-label" for="relative_surname">&nbsp;</label>
                        <input id="relative_surname" class="form-control" type="text" ng-model="patient.relative_surname" placeholder="Apellido"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_surname" type="danger">{{message}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_relationship}">
                        <label class="control-label" for="relative_relationship">RELACIÓN / PARENTESCO</label>
                        <input id="relative_relationship" class="form-control" type="text" ng-model="patient.relative_relationship"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_relationship" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_cellphone}">
                        <label class="control-label" for="relative_cellphone">CELULAR</label>
                        <input id="relative_cellphone" class="form-control" type="text" ng-model="patient.relative_cellphone"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_cellphone" type="danger">{{message}}</alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_province}">
                        <label class="control-label" for="relative_province">DIRECCION</label>
                        <select id="relative_province" class="form-control" ng-model="patient.relative_province">
                            <option></option>
                            {% for province in provinces %}
                                <option>{= province =}</option>
                            {% endfor %}
                        </select>
                        <alert class="well-sm" ng-repeat="message in errors.relative_province" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_city}">
                        <label class="control-label" for="relative_city">&nbsp;</label>
                        <input id="relative_city" class="form-control" type="text" ng-model="patient.relative_city" placeholder="Ciudad"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_city" type="danger">{{message}}</alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.relative_district}">
                        <label class="control-label" for="relative_district">&nbsp;</label>
                        <input id="relative_district" class="form-control" type="text" ng-model="patient.relative_district" placeholder="Barrio (Opcional)"/>
                        <alert class="well-sm" ng-repeat="message in errors.relative_district" type="danger">{{message}}</alert>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h4><span class="heading">Notas</span></h4>
                <div class="form-group" ng-class="{'has-error': errors.notes}">
                    <textarea id="notes" class="form-control" rows="20" ng-model="patient.notes"></textarea>
                    <alert class="well-sm" ng-repeat="message in errors.notes" type="danger">{{message}}</alert>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
