{% extends "core/base-bottom.html" %}

{% block section_actions %}
    <a class="btn btn-primary btn-sm" ng-click="!processing && save()" role="button">Guardar</a>
{% endblock %}

{% block section_body %}
    <h4><span class="heading">Detalle del encuentro</span></h4>
    <div class="row">
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.observation_type}">
            <label class="control-label" for="observation_type">TIPO *</label>
            <select id="observation_type" class="form-control" ng-model="patient.nationality">
                {% for observation in observations %}
                    <option>{= observation =}</option>
                {% endfor %}
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.nationality" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.birthdate}">
            <label class="control-label" for="birthdate">FECHA *</label>
            <div class="input-group">
                <input id="date" class="form-control" type="text" ng-model="patient.date"
                        uib-datepicker-popup="dd/MM/yyyy" datepicker-options="datePicker.options"
                        is-open="datePicker.visibility.patient" current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="datePicker.visibility.patient = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
              </span>
            </div>
            <uib-alert class="well-sm" ng-repeat="message in errors.date" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.advisor}">
            <label class="control-label" for="advisor">ORIENTADORA</label>
            <div class="input-group" ng-show="!isAdvisorEditable">
                <input id="advisor" class="form-control" type="text" disabled ng-model="patient.advisor.name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="editAdvisor()">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </span>
            </div>
            <select id="advisor" class="form-control" ng-model="patient.advisor" ng-show="isAdvisorEditable"
                    ng-options="advisor as advisor.name for advisor in advisors track by advisor.id">
                <option></option>
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.advisor" type="danger">{{ message }}</uib-alert>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-error': errors.coadvisor}">
            <label class="control-label" for="advisor">CO-ORIENTADORA</label>
            <div class="input-group" ng-show="!isAdvisorEditable">
                <input id="advisor" class="form-control" type="text" disabled ng-model="patient.coadvisor.name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="editAdvisor()">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </span>
            </div>
            <select id="advisor" class="form-control" ng-model="patient.advisor" ng-show="isAdvisorEditable"
                    ng-options="advisor as advisor.name for advisor in advisors track by advisor.id">
                <option></option>
            </select>
            <uib-alert class="well-sm" ng-repeat="message in errors.coadvisor" type="danger">{{ message }}</uib-alert>
        </div>
    </div>













                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.firstname}">
                        <label class="control-label" for="firstname">NOMBRE *</label>
                        <input id="firstname" class="form-control" type="text" ng-model="patient.firstname" placeholder="Primer nombre"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.firstname" type="danger">{{ message }}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.middlename}">
                        <label class="control-label" for="middlename">&nbsp;</label>
                        <input id="middlename" class="form-control" type="text" ng-model="patient.middlename" placeholder="Segundo nombre (Opcional)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.middlename" type="danger">{{ message }}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.surname}">
                        <label class="control-label" for="surname">&nbsp;</label>
                        <input id="surname" class="form-control" type="text" ng-model="patient.surname" placeholder="Apellido (Opcional)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.surname" type="danger">{{ message }}</uib-alert>
                    </div>
                </div>




{% endblock %}
