{% extends "core/base.html" %}

{% block section_title %}{{ $stateParams.id? "Modificación de Paciente": "Nuevo Paciente" }}{% endblock %}

{% block section_actions %}
    <a class="btn btn-default btn-sm" ng-click="!processing && cancel()" role="button">Cancelar</a>
    <a class="btn btn-primary btn-sm" ng-click="!processing && save()" role="button">Guardar</a>
{% endblock %}

{% block section_body %}
    <script type="text/ng-template" id="child-template.html">
        <div class="child-popup">
            <div class="form-group">
              <label>NOMBRE *</label>
              <input class="form-control" type="text" ng-model="child.name"/>
            </div>
            <div class="form-group">
              <label>EDAD</label>
              <input class="form-control" type="number" min="0" max="99" ng-model="child.known_age"/>
            </div>
            <div class="form-group">
                <label>FECHA DE NACIMIENTO</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="child.birthdate"
                            uib-datepicker-popup="dd/MM/yyyy" datepicker-options="birthdatePicker.options"
                            is-open="birthdatePicker.visibility.child" min-date="birthdatePicker.minDate" max-date="birthdatePicker.maxDate"
                            show-weeks="false" current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="birthdatePicker.visibility.child = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                  </span>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-sm" ng-click="!processing && addChild()" role="button">Agregar</button>
            </div>
        </div>
    </script>
    <form>
        <fieldset ng-disabled="processing">
            <div class="col-sm-8">
                <h4><span class="heading">Información del paciente</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.record}">
                        <label class="control-label" for="record">Nº DE FICHA</label>
                        <input id="record" class="form-control" type="text" ng-model="patient.record" placeholder="Automático"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.record" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.firstname}">
                        <label class="control-label" for="firstname">NOMBRE *</label>
                        <input id="firstname" class="form-control" type="text" ng-model="patient.firstname" placeholder="Primer nombre"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.firstname" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.middlename}">
                        <label class="control-label" for="middlename">&nbsp;</label>
                        <input id="middlename" class="form-control" type="text" ng-model="patient.middlename" placeholder="Segundo nombre (Opcional)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.middlename" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.surname}">
                        <label class="control-label" for="surname">&nbsp;</label>
                        <input id="surname" class="form-control" type="text" ng-model="patient.surname" placeholder="Apellido (Opcional)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.surname" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.birthdate}">
                        <label class="control-label" for="birthdate">FECHA DE NACIMIENTO *</label>
                        <div class="input-group">
                            <input id="birthdate" class="form-control" type="text" ng-model="patient.birthdate"
                                    uib-datepicker-popup="dd/MM/yyyy" datepicker-options="birthdatePicker.options"
                                    is-open="birthdatePicker.visibility.patient" min-date="birthdatePicker.minDate" max-date="birthdatePicker.maxDate"
                                    show-weeks="false" current-text="Hoy" clear-text="Borrar" close-text="Cerrar"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="birthdatePicker.visibility.patient = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                          </span>
                        </div>
                        <uib-alert class="well-sm" ng-repeat="message in errors.birthdate" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.nationality}">
                        <label class="control-label" for="nationality">NACIONALIDAD *</label>
                        <select id="nationality" class="form-control" ng-model="patient.nationality">
                            {% for nationality in nationalities %}
                                <option>{= nationality =}</option>
                            {% endfor %}
                        </select>
                        <uib-alert class="well-sm" ng-repeat="message in errors.nationality" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.occupation}">
                        <label class="control-label" for="occupation">OCUPACIÓN *</label>
                        <input id="occupation" class="form-control" type="text" ng-model="patient.occupation"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.occupation" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <h4><span class="heading">Hijos</span></h4>
                <div class="row">
                    <div class="form-group col-sm-12" ng-class="{'has-error': errors.children}">
                        <div class="input-group">
                            <ui-select id="children" multiple ng-model="patient.children" search-enabled="false">
                                <ui-select-match>
                                    <span ng-bind="$item.name"></span>
                                    <span ng-show="$item.age != null && $item.age >= 0">({{ $item.age }} años){{ $item.birthdate? "": "?" }}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="ch in (patient.UNDEFINED | filter: $select.search) track by ch.id">
                                    <span ng-bind="ch.name"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" uib-popover-template="'child-template.html'">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </button>
                            </span>
                        </div>
                        <uib-alert class="well-sm" ng-repeat="message in errors.children" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <h4><span class="heading">Información de contacto</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.cellphone}">
                        <label class="control-label" for="cellphone">CELULAR 1 (Turno)</label>
                        <input id="cellphone" class="form-control" type="text" ng-model="patient.cellphone" placeholder="ej: 11 5467 2345 (sin 15)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.cellphone" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.cellphone2}">
                        <label class="control-label" for="cellphone2">CELULAR 2</label>
                        <input id="cellphone2" class="form-control" type="text" ng-model="patient.cellphone2" placeholder="ej: 11 5467 2345 (sin 15)"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.cellphone2" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.telephone}">
                        <label class="control-label" for="telephone">TEL. FIJO</label>
                        <input id="telephone" class="form-control" type="text" ng-model="patient.telephone" placeholder="ej: 11 4565 6756"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.telephone" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.email}">
                        <label class="control-label" for="email">EMAIL</label>
                        <input id="email" class="form-control" type="text" ng-model="patient.email"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.email" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.province}">
                        <label class="control-label" for="province">DIRECCION</label>
                        <select id="province" class="form-control" ng-model="patient.province">
                            <option></option>
                            {% for province in provinces %}
                                <option>{= province =}</option>
                            {% endfor %}
                        </select>
                        <uib-alert class="well-sm" ng-repeat="message in errors.province" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.city}">
                        <label class="control-label" for="city">&nbsp;</label>
                        <input id="city" class="form-control" type="text" ng-model="patient.city" placeholder="Ciudad"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.city" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.district}">
                        <label class="control-label" for="district">&nbsp;</label>
                        <input id="district" class="form-control" type="text" ng-model="patient.district" placeholder="Barrio"/>
                        <uib-alert class="well-sm" ng-repeat="message in errors.district" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
                <h4><span class="heading">Orientación</span></h4>
                <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': errors.advisor}">
                        <label class="control-label" for="advisor">ORIENTADORA</label>
                        <div class="input-group" ng-show="!isAdvisorEditable">
                            <input id="advisor" class="form-control" type="text" disabled ng-model="patient.advisor.name"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="editAdvisor()">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </span>
                        </div>
                        <select id="advisor" class="form-control" ng-model="patient.advisor" ng-show="isAdvisorEditable"
                                ng-options="advisor as advisor.name for advisor in advisors track by advisor.id">
                            <option></option>
                        </select>
                        <uib-alert class="well-sm" ng-repeat="message in errors.advisor" type="danger">{{message}}</uib-alert>
                    </div>
                    <div class="form-group col-sm-8" ng-class="{'has-error': errors.coadvisors}">
                        <label class="control-label" for="coadvisors">CO-ORIENTADORAS</label>
                        <div class="input-group" ng-show="!isCoadvisorsEditable">
                            <input id="coadvisors" class="form-control" type="text" disabled="disabled"
                                   value="{{ patient.coadvisors | joinByProp: 'name': ',  ' }}"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="editCoadvisors()">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </span>
                        </div>
                        <ui-select id="coadvisors" multiple focus-on="focusCoadvisors" ng-model="patient.coadvisors"
                                ng-show="isCoadvisorsEditable">
                            <ui-select-match>
                                <span ng-bind="$item.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="advisor in (advisors | filter: $select.search) track by advisor.id">
                                <span ng-bind="advisor.name"></span>
                            </ui-select-choices>
                        </ui-select>
                        <uib-alert class="well-sm" ng-repeat="message in errors.coadvisors" type="danger">{{message}}</uib-alert>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h4><span class="heading">Notas</span></h4>
                <div class="form-group" ng-class="{'has-error': errors.notes}">
                    <textarea id="notes" class="form-control" rows="20" ng-model="patient.notes"></textarea>
                    <uib-alert class="well-sm" ng-repeat="message in errors.notes" type="danger">{{message}}</uib-alert>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
