{% extends "base.html" %}

{% block section_title %}
    <img class="img-rounded" src="/resources/img/avatar.jpg" alt=""/>
    {{ patient.firstname }} {{ patient.middlename }} {{ patient.surname }}
    <small>{{ patient.age }} años</small>
    <small>{{ patient.cellphone }}</small>
    <small>{{ patient.email }}</small>
{% endblock %}

{% block section_actions %}
    <a class="btn btn-default btn-sm" role="button">Imprimir</a>
    <a class="btn btn-default btn-sm" ui-sref="patient-edit({id: $stateParams.id})" role="button">Modificar Paciente</a>
    <a class="btn btn-primary btn-sm" role="button">Nueva Entrevista</a>
{% endblock %}

{% block section_body %}
{% endblock %}
