{% extends "core/base.html" %}

{% block section_title %}
    <img class="img-rounded" src="/resources/img/avatar.jpg" alt=""/>
    {{ patient.firstname }} {{ patient.middlename }} {{ patient.surname }}
    <small>{{ patient.age }} años</small>
    <small>{{ patient.cellphone }}</small>
    <small>{{ patient.email }}</small>
{% endblock %}

{% block section_tabs %}
    <tabset>
        <tab heading="Resumen" active="tab.summary" select="$state.go('patient-view.summary')"></tab>
        <tab heading="Cronología" active="tab.chronology" select="$state.go('patient-view.chronology')"></tab>
    </tabset>
{% endblock %}

{% block bottom %}
    <div ui-view></div>
{% endblock %}
