{% extends "core/base.html" %}

{% block section_title %}
    <img class="img-rounded" src="/resources/img/avatar.jpg" alt=""/>
    {{ patient.firstname }} {{ patient.middlename }} {{ patient.surname }}
    <small>{{ patient.age }} años</small>
    <small>{{ patient.cellphone }}</small>
    <small>{{ patient.email }}</small>
    <small>Ficha {{ patient.record }}</small>
{% endblock %}

{% block section_tabs %}
    <uib-tabset active="activeTab">
        <uib-tab heading="Resumen" index="-1" select="$state.go('^.summary')"></uib-tab>
        <uib-tab heading="Cronología" index="-2" select="$state.go('^.chronology')"></uib-tab>
        <uib-tab heading="Nueva Entrevista" index="$index + 1" select="$state.go('^.interview-new', {interviewId: $index + 1})"
                ng-repeat="interview in interviews"></uib-tab>
    </uib-tabset>
{% endblock %}

{% block bottom %}
    <div ui-view></div>
{% endblock %}
